@model IDIMWorkBranchProject.Models.WBP.ProjectProblemVm
@{
    ViewBag.Title = "Project Problem";
}

<div id="message"></div>
<div class='col-md-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Project Problem </h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="#"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","ProjectProblem")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Project Problem
                    </a>
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">Create</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("List","ProjectProblem")" class="btn">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    List
                </a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Create", "ProjectProblem", FormMethod.Post, new { @class = "form-horizontal", id = "ProjectProblem-create-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.SubProjectId)
                        @Html.HiddenFor(m => m.SubProjectTitle)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SubProjectId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.SubProjectTitle)
                                        </span>
                                        @Html.ValidationMessageFor(model => model.SubProjectId)
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IssueDate, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.IssueDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IssueDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SolveDate, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.SolveDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.IssueDate)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(m => m.Status, new { @class = "form-control iCheck" })
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Save" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>
