@model IDIMWorkBranchProject.Models.User.ApplicationVm
@{

    ViewBag.Title = "Application";
}


<div class='col-xs-12'>
    <div class="page-title">

        <div class="pull-left">
            <h1 class="title">Application</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List", "Application")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Application
                    </a>
                </li>
                <li class="active">
                    <strong>Edit</strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Edit</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","Application")" class="btn btn-success">Create New</a>
                <a href="@Url.Action("List","Application")" class="btn">List</a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Edit", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ApplicationId)

                        <div class="form-group">
                            @Html.LabelFor(m => m.ApplicationCode, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ApplicationCode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ApplicationCode)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ApplicationName, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ApplicationName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ApplicationName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Icon, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Icon)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Url, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Url, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Url)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsPublished, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.IsPublished, new { @class = "form-control icheck-minimal-red" })
                                @Html.ValidationMessageFor(model => model.IsPublished)
                            </div>
                        </div>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Update" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

