@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectDirectorSearchVm

@{
    ViewBag.Title = "List";
}

<div class="page-title">
    <div class="pull-left">
        <h3 class="title">Project Director</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>Project Director</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">List</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("Create","ProjectDirector")" class="btn btn-success"><i class="fa fa-plus"></i> Create New</a>
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.JoiningDate, new { @class = "col-md-4 form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.JoiningDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.JoiningDate)
                </div>
            </div>
            <div class="form-group col-md-6">
                @Html.LabelFor(m => m.TransferDate, new { @class = "col-md-4 form-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.TransferDate, new { @class = "form-control datepicker" })
                    @Html.ValidationMessageFor(model => model.TransferDate)
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-12">
                <table id="projectDirectorTable" class="table table-striped table-bordered" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <partial name="_ModalPartial" />
    </div>
</section>


@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#projectDirectorTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": baseUrl + "/ProjectDirector/LoadData",  // Make sure this is correct
                    "type": "POST",
                    "contentType": "application/json",  // Sending JSON data
                    "data": function (d) {
                        // Manually create a JSON object for the POST request
                        return JSON.stringify({
                            SearchValue: d.search.value,  // Global search term
                            JoiningDate: $('#JoiningDate').val() ? $('#JoiningDate').val() : null,
                            TransferDate: $('#TransferDate').val() ? $('#TransferDate').val() : null,
                            Draw: d.draw,
                            PageIndex: d.start / d.length,  // Pagination: starting index
                            PageSize: d.length,  // Pagination: number of records per page
                            SortColumn: d.order[0] ? d.columns[d.order[0].column].data : 'ProjectDirectorId',
                            SortDirection: d.order[0] ? d.order[0].dir : 'asc'
                        });
                    },
                    "dataSrc": function (json) {
                        console.log(json.data)
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "ProjectDirectorId", "title": "আইডি", "visible": false },
                    { "data": "ProjectDirectorName", "title": "প্রকল্প পরিচালকের নাম" },
                    { "data": "Designation", "title": "পদবী" },
                    {
                        "data": "JoiningDate",
                        "title": "যোগদানের তারিখ",
                        "render": function (data) {
                            if (data && data.startsWith("/Date(")) {
                                var timestamp = parseInt(data.replace("/Date(", "").replace(")/", ""));
                                return new Date(timestamp).toLocaleDateString('en-GB');
                            }
                            return '';
                        }
                    },
                    {
                        "data": "TransferDate",
                        "title": "বদলীর তারিখ",
                        "render": function (data) {
                            if (data && data.startsWith("/Date(")) {
                                var timestamp = parseInt(data.replace("/Date(", "").replace(")/", ""));
                                return new Date(timestamp).toLocaleDateString('en-GB');
                            }
                            return '';
                        }
                    },
                    {
                        "data": "ProjectDirectorId",  // You can use ProjectId to generate action buttons
                        "title": "অ্যাকশন",
                        "width": "140px",
                        "orderable": false,
                        "render": function (data, type, row) {
                            return `
                                    <a href="${baseUrl}/ProjectDirector/Edit?id=${row.ProjectDirectorId}" class="btn btn-xs btn-primary">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a class="btn btn-danger btn-xs show-bs-modal" data-id='${row.ProjectDirectorId}' data-entity='ProjectDirector' value='${row.ProjectDirectorId}'>
                                        <i class="fa fa-trash"></i> Remove </a>`;
                        }
                    }
                ]
            });

            // Apply filters automatically when the user changes any of the filter fields
            $('#JoiningDate, #TransferDate ').on('change input keyup', function () {
                table.ajax.reload();
            });
        });

    </script>

}