@model IDIMWorkBranchProject.Models.User.LoginPinVm
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Pin";
}

<div class="login-wrapper row">
    <div class="col-md-5 bgb_left">
        <div class="row">
            <div class="login_left text-center">
                <span style="color: #ffffff; font-weight: bold; font-size:30px">Work Branch Project</span><br />
                <div class="bgb_logo">
                    <img src="../Content/images/bgb-logo.png" alt=""><br />
                    <span style="color: #ffffff; font-weight: bold; font-size: 30px; font-family: verdana">BGB</span><br />
                    <span style="color: #ffffff; font-weight: bold; font-size: 30px; font-family: verdana">Border Guard Bangladesh</span>
                    <p>
                        Pheelkhana, Dhaka-1208, Bangladesh
                    </p>
                </div>


            </div>
        </div>
    </div>
    <div class="col-md-7">
        <div class="login_right">
            <div class="form_top">
                <span>
                    <img src="../Content/images/idim.png" alt="">
                </span>
               
            </div>
            <div class="form_heading_pin">
                <h1>Confirm Pin</h1>
                <h3>Enter The PIN Sent To Your Mobile </h3>
            </div>
            <div class="form_area row">
                @using (Html.BeginForm("Pin", "Login", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="col-sm-12 single_input_pin">
                        @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
                        @Html.TextBoxFor(model => model.PinCode, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-6 btn_submit">
                        <button type="submit">Confirm</button>
                    </div>
                    <div class="col-sm-6 resend_pin">
                        <a href="#">Resend Pin</a>
                    </div>
                }
            </div>
            <div class="login_right_bottom text-right">
                <p>   © Copyright 2018 Border Guard Bangladesh- All Rights Reserved</p>
            </div>
        </div>
    </div>
</div>

@section styles
{
    @Styles.Render("~/content/login")
}


