@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model FormalMeetingVm

@{
    ViewBag.Title = "Create";
}



<div class="page-title">
    <div class="pull-left">
        <h3 class="title">Fiscal Year Expense</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("List","FormalMeeting")">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Fiscal Year Expense
                </a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">Create</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("List","FormalMeeting")" class="btn">
                <i class="fa fa-list" aria-hidden="true"></i>
                List
            </a>
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "FormalMeeting", FormMethod.Post, new { enctype = "multipart/form-data", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.FormalMeetingId)
                    @Html.HiddenFor(x => x.ADPProjectId)

                    <div class="row">
                        <div class="form-display col-md-12">
                            @Html.LabelFor(m => m.ProjectTitle, new { @class = "form-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>
                        <!-- Column 1 -->
                        <div class="col-md-6">
                            <!-- Meeting Title -->
                            <div class="form-group" style="display:flex;">
                                @Html.LabelFor(m => m.MeetingTitle, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.MeetingTitle, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.MeetingTitle, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Meeting Date -->
                            <div class="form-group" style="display:flex;">
                                @Html.LabelFor(m => m.MeetingDate, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.MeetingDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                    @Html.ValidationMessageFor(m => m.MeetingDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- Number of Meeting -->
                            <div class="form-group" style="display:flex;">
                                @Html.LabelFor(m => m.NumberOfMeeting, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.NumberOfMeeting, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.NumberOfMeeting, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <!-- Meeting Document Upload -->
                            <div class="form-group" style="display:flex;">
                                @Html.LabelFor(m => m.MeetingDocumentFile, new { @class = "control-label col-md-4" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.MeetingDocumentFile, new
                                    {
                                        @class = "form-control",
                                        type = "file",
                                        accept = ".pdf",
                                        id = "pdfInput",
                                        onchange = "previewPDF(event)"
                                    })
                                </div>
                            </div>
                        </div>

                        <!-- Column 2 -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <embed id="pdfPreview"
                                       src="@(!string.IsNullOrEmpty(Model.MeetingDocument) ? Url.Content("~/Documents/MeetingFile/" + Model.MeetingDocument) : "")"
                                       type="application/pdf"
                                       style="width: 95%; height: 200px; @(string.IsNullOrEmpty(Model.MeetingDocument) ? "display:none;" : "")" />


                                <p id="pdfLinkContainer" style="@(string.IsNullOrEmpty(Model.MeetingDocument) ? "display:none;" : "")">
                                    <a id="pdfLink"
                                       href="@(!string.IsNullOrEmpty(Model.MeetingDocument) ? Url.Content("~/Documents/MeetingFile/" + Model.MeetingDocument) : "#")"
                                       target="_blank">
                                        View Full PDF
                                    </a>
                                </p>
                            </div>
                        </div>

                    </div>


                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="reset" class="btn" value="Clear" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        function previewPDF(event) {
            var file = event.target.files[0];
            if (file) {
                var fileURL = URL.createObjectURL(file);
                var preview = document.getElementById('pdfPreview');
                var link = document.getElementById('pdfLink');
                var linkContainer = document.getElementById('pdfLinkContainer');

                if (preview && link) {
                    preview.src = fileURL;
                    preview.style.display = "block";

                    link.href = fileURL;
                    linkContainer.style.display = "block";
                }
            }
        }
    </script>
}
