@model IDIMWorkBranchProject.Models.WBP.ContractorPaymentSearchVm
@{
    ViewBag.Title = "Contractor Payment";
}

<div class='col-md-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Contractor Payment</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li class="active">
                    <strong>Contractor Payment</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">List</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm("List", "ContractorPayment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SubProjectTitle, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.SubProjectTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubProjectTitle)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConstructionFirmName, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ConstructionFirmName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConstructionFirmName)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SubProjectId, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.SubProjectId, Model.SubProjectDropdown, "Select Unit", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.SubProjectId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConstructionFirmId, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.ConstructionFirmId, Model.ConstructionFirmDropdown, "Select Firm", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.ConstructionFirmId)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input id="searchBtn" type="submit" class="btn btn-success pull-right" value="Search" />
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-md-12">
                    <table id="contractorPaymentTable" class="table table-bordered" width="100%">
                    </table>

                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var table = $('#contractorPaymentTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/ContractorPayment/LoadData",
                    "type": "POST",
                    "data": function (d) {
                        // Optional: Only send additional filters if they exist
                        d.SubProjectTitle = $('#subProjectTitle').val();
                        d.ConstructionFirmName = $('#ConstructionFirmName').val();
                        d.ConstructionFirmId = $('#constructionFirm').val();
                    },
                    "dataSrc": function (json) {
                        console.log("Data from server: ", json);  // Ensure this is the correct format
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "ContractorPaymentId", "title": "ContractorPaymentId", "visible": false },
                    { "data": "SubProjectTitle", "title": "Sub Project Title" },
                    { "data": "ConstructionFirmName", "title": "Firm Name" },
                    { "data": "ApprovalAmount", "title": "Approval Amount" },
                    { "data": "NetAmount", "title": "Net Amount" },
                    { "data": "BillPaymentNumber", "title": "Bill Payment Number" },
                    { "data": "RunningBillPayment", "title": "Running Bill Payment" },
                    { "data": "VatTaxSecurityAmount", "title": "Security Amount" },
                    {
                        "data": "ContractorPaymentId",
                        "title": "Actions",
                        "render": function (data, type, row) {
                            return `<a href="/ContractorPayment/Create?id=${row.ContractorPaymentId}">
                            <span class="label label-info"><i class="fa fa-info"></i> Status</span>
                        </a>
                        <a href="/ContractorPayment/Edit?id=${row.ContractorPaymentId}">
                            <span class="label label-primary"><i class="fa fa-edit"></i> Edit</span>
                        </a>
                        <a href="/ContractorPayment/Delete?id=${row.ContractorPaymentId}">
                            <span class="label label-danger"><i class="fa fa-remove"></i> Remove</span>
                        </a>`;
                        }
                    }
                ],
                "order": [[1, 'asc']],
            });

            $('#searchBtn').on('click', function () {
                table.ajax.reload();
            });
        });

    </script>
}
