@using IDIMWorkBranchProject.Extentions.Session
@using IDIMWorkBranchProject.Models.User

<!DOCTYPE html>
<html class=" ">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>IDIM Work Branch Project : @ViewBag.Title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<link rel="shortcut icon" href="~/Content/images/idim.png" type="image/x-icon" />*@
    <link rel="apple-touch-icon-precomposed" href="">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
    @{
        ViewBag.User = UserExtention.Get<UserInformation>("UserInformation");
        var currentControllerName = ViewContext.RouteData.GetRequiredString("controller");
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vectormap")
    @Styles.Render("~/Content/form")
    @Styles.Render("~/Content/datatable")

    @RenderSection("styles", required: false)

    @Styles.Render("~/Content/dashboard")
    @Styles.Render("~/Content/commstore")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body class=" ">
    @Html.Partial("Partial/_TopMenuBar")
    <div class="page-container row-fluid container-fluid">

        @Html.Partial("Partial/_LeftSidebarMenu")
        <section id="main-content" class=" ">
            <section class="wrapper main-wrapper row" style=''>
                @Html.Partial("Partial/_Message")
                @RenderBody()

                <div class="col-lg-12" id="footer">
                    <div class="pull-right">

                    </div>
                </div>

            </section>
        </section>

    </div>

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquerymig")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/dashboard")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/commstore")
    <script>var baseUrl = "/wbpm"</script>


    @RenderSection("scripts", required: false)

    @Html.Partial("_ModalResponse")
    <script>
        $(document).ready(function () {
            // Function to open the modal and set the ID and entity type
            $(document).on('click', '.removeModal', function (event) {
                var entityId = $(this).data("id");
                var entityName = $(this).data("entity"); // e.g., "Country", "User"
                var modal = $("#modalRemove");

                $('#deleteId').val(entityId);
                $('#deleteForm').attr("action", baseUrl + "/"+ entityName + '/Delete');

                modal.modal('show');
            });

            // Submit form on delete button click
            $("#deleteButton").on('click', function () {
                $("#deleteForm").trigger('submit');
            });


        // ===== Highlight active menu item by controller name =====
        var items = $('#main-menu-wrapper li a');
        $.each(items, function (i) {
            var link = this.href;
            var controllerName = link.split('/')[3];
            if ('@currentControllerName'.toLowerCase() === controllerName.toLowerCase()) {
                $(this).parent().addClass("open");
            }
        });

    });
    </script>

</body>
</html>


