@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectWorkVm

@{
    ViewBag.Title = "Create";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">নির্মান কাজ</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("List","ProjectDirector")">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    নির্মান কাজ
                </a>
            </li>
            <li class="active">
                <strong>নির্মান কাজ সংযুক্ত </strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">নির্মান কাজ সংযুক্ত</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("List","ProjectWork")" class="btn">
                <i class="fa fa-list" aria-hidden="true"></i>
                List
            </a>
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Create", "ProjectWork", FormMethod.Post, new { enctype = "multipart/form-data", id = "ProjectDirector-create-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ADPProjectId)

                    <div class="row">
                        <div class="form-display col-md-12">
                            @Html.LabelFor(m => m.ProjectTitle, new { @class = "form-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.ProjectWorkTitle, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.ProjectWorkTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectWorkTitle)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.ProjectWorkTitleB, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.ProjectWorkTitleB, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectWorkTitleB)
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.EstimatedCost, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.EstimatedCost, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedCost)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.EstimatedCostInWord, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.EstimatedCostInWord, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedCostInWord)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.EstimatedCostInWordBangla, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.EstimatedCostInWordBangla, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedCostInWordBangla)
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Remarks, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks)
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="reset" class="btn" value="Clear" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
@section scripts{
    <script src="~/Scripts/numberToWordsConverter.js"></script>
    <script src="~/Scripts/banglaNumberConverter.js"></script>
    <script>
        function convertTobanglaWord() {
            const estimatedCost = parseFloat($('#EstimatedCost').val()) || 0;
            const estimatedCostInWord = toWords(estimatedCost);
            const estimatedCostInWordBangla = toWord(estimatedCost);
            //const estimatedCostInWordBangla = getBanglaWord(estimatedCost);
            // Update the input fields with the calculated values
            $('#EstimatedCostInWord').val(estimatedCostInWord);
            $('#EstimatedCostInWordBangla').val(estimatedCostInWordBangla);

        }
        $(document).ready(function () {
            // Call the function on page load
            convertTobanglaWord();
            //// Call the function when the input changes
            $('#EstimatedCost').on('input', convertTobanglaWord);
        })

        // Trigger calculation on input change
        /*$('#AgreementCost').on('input', convertTobanglaWord);*/
    </script>
}