@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectWorkDetailsVm

@{
    ViewBag.Title = "Details";
}
<div class="page-title">
    <div class="pull-left">
        <h3 class="title">নির্মাণ কাজ</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>নির্মাণ কাজ</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">List</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("PrintContactAgreement", "Report", new { id = Model.ProjectWorks.ProjectWorkId })" class="btn btn-primary">
                <i class="fa fa-print"></i> নির্মান চুক্তি প্রিন্ট করুণ
            </a>
            <a href="@Url.Action("Edit", "ProjectWork", new { id = Model.ProjectWorks.ProjectWorkId })" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> নির্মাণ কাজ সংশোধন
            </a>
            @*<a href="@Url.Action("Create", "ProjectDirector", new { id = Model.ADPProjectDetail.ADPProjectId })" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i> প্রকল্প পরিচালক সংযুক্ত করুন
        </a>
        <a href="@Url.Action("Create", "FinancialYearAllocation", new { id = Model.ADPProjectDetail.ADPProjectId })" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i> প্রকপ্লের বরাদ্দ সংযুক্ত করুন
        </a>
        <a href="@Url.Action("Create", "FiscalYearExpense", new { id = Model.ADPProjectDetail.ADPProjectId })" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i> প্রকপ্লের ব্যয় সংযুক্ত করুন
        </a>
        <a href="@Url.Action("Create", "FormalMeeting", new { id = Model.ADPProjectDetail.ADPProjectId })" class="btn btn-primary">
            <i class="fa fa-pencil-square-o"></i> প্রকপ্লের সভা সংযুক্ত করুন
        </a>
        <a href="@Url.Action("Create", "ProjectWork", new { id = Model.ADPProjectDetail.ADPProjectId })" class="btn btn-primary">
            @(Model.ADPProjectDetail.NoOfWork==Model.ProjectWorks.Count()?"disabled":"")
            <i class="fa fa-pencil-square-o"></i> নির্মাণ কাজ সংযুক্ত করুন
        </a>*@
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="form-display col-md-12">
                @Html.LabelFor(m => m.ProjectWorks.ProjectTitle, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.ProjectTitle)
            </div>
            <div class="form-display col-md-12">
                @Html.LabelFor(m => m.ProjectWorks.ProjectWorkTitleB, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.ProjectWorkTitleB)
            </div>
            <div class="form-display col-md-12">
                @Html.LabelFor(m => m.ProjectWorks.FirmName, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.FirmName)
            </div>
            <div class="form-display col-md-12">
                @Html.LabelFor(m => m.ProjectWorks.EstimatedCost, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.EstimatedCost)
            </div>
            <div class="form-group col-md-12">
                @Html.LabelFor(m => m.ProjectWorks.EstimatedCostInWord, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.EstimatedCostInWord)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.NOADate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.NOADate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.AgreementDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.AgreementDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.WorkOrderDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.WorkOrderDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.WorkStartDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.WorkStartDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.WorkEndDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.WorkEndDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.HandOverDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.HandOverDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.BankGuaranteeEndDate, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.BankGuaranteeEndDate)
            </div>
            <div class="form-display col-md-6">
                @Html.LabelFor(m => m.ProjectWorks.Remarks, new { @class = "form-label" })
                @Html.DisplayFor(m => m.ProjectWorks.Remarks)
            </div>
        </div>

        <fieldset>
            <legend>মন্ত্রণালয় থেকে গৃহীত অর্থঃ</legend>
            <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>লেটার নং</th>
                        <th>বিল নাম্বার</th>
                        <th>বিল তারিখ</th>
                        <th>পেমেন্ট সেকটর</th>
                        <th>বিল পরিশোধিত পরিমান</th>
                        @*<th>কর্তন (ট্যাক্স, ভ্যাট ও জামানত)</th>
                    <th>বিবিধ জমা পরিমান</th>*@
                        <th style="width:120px;">সংশোধন</th>
                        <th style="width:120px;">প্রিন্ট করুন</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ADPReceivePayments)
                    {
                        <tr>
                            <td>@item.LetterNo</td>
                            <td>@item.BillNumber</td>
                            <td>@item.BillDate</td>
                            <td>@item.BillPaymentSector</td>
                            <td>@item.BillPaidAmount</td>
                            @*<td>@item.TotalDeductionAmount</td>
                        <td>@item.DepositInBGBFund</td>*@

                        <td>
                            <a href="@Url.Action("Create", "VatTaxCollateral", new { id = item.ADPReceivePaymentId })" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil-square-o"></i> ট্যাক্স/ভ্যাট সংযুক্ত করুণ
                            </a>
                            <a href="@Url.Action("Edit", "ADPReceivePayment", new { id = item.ADPReceivePaymentId })" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil-square-o"></i> সংশোধন
                            </a>
                            <a href="@Url.Action("Delete", "ADPReceivePayment", new { id = item.ADPReceivePaymentId })" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i> অপসারণ
                            </a>
                        </td>
                            <td>
                                <a href="@Url.Action("PrintADPReceivePayment", "ADPReceivePayment", new { id = item.ADPReceivePaymentId, type="pdf" })" class="btn btn-info btn-xs">
                                    <i class="fa fa-print"></i> বিল প্রিন্ট pdf
                                </a>
                                <a href="@Url.Action("PrintADPReceivePayment", "ADPReceivePayment", new { id = item.ADPReceivePaymentId, type="word" })" class="btn btn-info btn-xs">
                                    <i class="fa fa-print"></i> বিল প্রিন্ট word
                                </a>
                                <a href="@Url.Action("PrintVatTaxReport", "VatTaxCollateral", new { id = item.ADPReceivePaymentId, type="pdf" })" class="btn btn-accent btn-xs">
                                <i class="fa fa-print"></i> ট্যাক্স/ভ্যাট প্রিন্ট pdf
                            </a>
                            <a href="@Url.Action("PrintVatTaxReport", "VatTaxCollateral", new { id = item.ADPReceivePaymentId, type="word" })" class="btn btn-accent btn-xs">
                                <i class="fa fa-print"></i> ট্যাক্স/ভ্যাট প্রিন্ট word
                            </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>
        <fieldset>
            <legend>ঠিকাদার প্রতিষ্ঠানকে প্রদত্ত অর্থঃ</legend>
            <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>প্রাক্কলিত ব্যয়</th>
                        <th>পুর্বে পরিশোধ</th>
                        <th>বর্তমান বিল পরিশোধ</th>
                        <th>মোট পরিশোধ</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ContractorCompanyPayments)
                    {
                        <tr>
                            <td>@item.EstimatedCost</td>
                            <td>@item.PreviouslyPaidAmount</td>
                            <td>@item.PayableAmountOnCurrentBill</td>
                            <td>@item.FinalPaymentAmount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </fieldset>

    </div>
</section>


