@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectWorkDetailsVm

@{
    ViewBag.Title = "Details";
}

<div class="page-title">
    <div class="pull-left">
        <h3 class="title">নির্মাণ কাজের বিস্তারিত</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>নির্মাণ কাজ</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">নির্মান কাজের বিস্তারিত</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("Edit", "ProjectWork", new { id = Model.ProjectWorkId })" class="btn btn-primary">
                <i class="fa fa-pencil-square-o"></i> নির্মাণ কাজ সংশোধন
            </a>
        </div>
    </header>
    <div class="content-body">
        <div class="panel panel-info">
            <!-- Panel Body -->
            <div class="panel-body">
                <div class="row">
                    <div class="form-display col-md-12">
                        @Html.LabelFor(m => m.ProjectTitle, new { @class = "display-label" })
                        @Html.DisplayFor(m => m.ProjectTitle)
                    </div>
                    <div class="form-display col-md-12">
                        @Html.LabelFor(m => m.ProjectWorkTitleB, new { @class = "display-label" })
                        @Html.DisplayFor(m => m.ProjectWorkTitleB)
                    </div>
                    <div class="form-display col-md-12">
                        @Html.LabelFor(m => m.EstimatedCost, new { @class = "display-label" })
                        @Html.DisplayFor(m => m.EstimatedCost) (@Html.DisplayFor(m => m.EstimatedCostInWordBangla))
                    </div>
                    <div class="form-display col-md-12">
                        @Html.LabelFor(m => m.Remarks, new { @class = "display-label" })
                        @Html.DisplayFor(m => m.Remarks)
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                এনওএইচএ
                <a href="@Url.Action("Create", "Noha", new { id = Model.ProjectWorkId })" class="btn btn-primary btn-xs pull-right mt-2 mb-2">
                    <i class="fa fa-pencil-square"></i>  এনওএইচএ সংযুক্ত করুণ
                </a>
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0" style="margin:0px!important">
                    <tbody>
                        <tr>
                            <th>@Html.LabelFor(m => m.NohaDate, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.NohaDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.NohaLetterNo, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.NohaLetterNo)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.NohaDocument, new { @class = "display-label" })</th>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.NohaDocument))
                                {
                                    <a href="@Url.Action("PreviewDocument", "Noha", new { fileName = Model.NohaDocument })" target="_blank">
                                        Preview Document
                                    </a>
                                }
                                else
                                {
                                    <span>No file uploaded</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                ব্যাংক গ্যারান্টি/পারফরমেন্স সিকিউরিটি
                <a href="@Url.Action("Create", "PerformanceSecurity", new { id = Model.ProjectWorkId })"
                   class="btn btn-primary btn-xs pull-right mt-2 mb-2 @(Model.IsNoahCompleted ? "" : "disabled")"
                   @(Model.IsNoahCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-pencil-square"></i> ব্যাংক গ্যারান্টি সংযুক্ত করুণ
                </a>
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0" style="margin:0px!important">
                    <tbody>
                        <tr>
                            <th>@Html.LabelFor(m => m.SubmissionDate, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.SubmissionDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.ExpiryDate, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.ExpiryDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.PerformanceSecurityDocument, new { @class = "display-label" })</th>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.PerformanceSecurityDocument))
                                {
                                    <a href="@Url.Action("PreviewDocument", "PerformanceSecurity", new { fileName = Model.PerformanceSecurityDocument })" target="_blank">
                                        Preview Document
                                    </a>
                                }
                                else
                                {
                                    <span>No file uploaded</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                চুক্তিপত্র
                <a href="@Url.Action("Create", "ContractAgreement", new { id = Model.ProjectWorkId })" class="btn btn-primary btn-xs pull-right mt-2 mb-2 @(Model.IsPerformanceSecuritySubmited ? "" : "disabled")"
                   @(Model.IsPerformanceSecuritySubmited ? "" : "onclick='return false;'")>
                    <i class="fa fa-pencil-square"></i>  চুক্তিপত্র সংযুক্ত করুণ
                </a>
                <a href="@Url.Action("PrintContactAgreement", "Report", new { id = Model.ProjectWorkId, type="pdf"})" class="btn btn-success btn-xs pull-right mt-2 mb-2 @(Model.IsAgreementCompleted ? "" : "disabled")"
                   @(Model.IsAgreementCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-file-pdf-o"></i> প্রিন্ট PDF
                </a>
                <a href="@Url.Action("PrintContactAgreement", "Report", new { id = Model.ProjectWorkId, type="word" })" class="btn btn-success btn-xs pull-right mt-2 mb-2 @(Model.IsAgreementCompleted ? "" : "disabled")"
                   @(Model.IsAgreementCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-file-word-o"></i> প্রিন্ট Word
                </a>
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0" style="margin:0px!important">
                    <tbody>
                        <tr>
                            <th>@Html.LabelFor(m => m.FirmNameB, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.FirmNameB)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.AgreementDate, new { @class = "display-label" })</th>
                            <td>@Html.DisplayFor(m => m.AgreementDate)</td>
                        </tr>
                        <tr>
                            <th>@Html.LabelFor(m => m.AgreementDocument, new { @class = "display-label" })</th>
                            <td>
                                @if (!string.IsNullOrEmpty(Model.AgreementDocument))
                                {
                                    <a href="@Url.Action("PreviewDocument", "ContractAgreement", new { fileName = Model.AgreementDocument })" target="_blank">
                                        Preview Document
                                    </a>
                                }
                                else
                                {
                                    <span>No file uploaded</span>
                                }
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                কার্যাদেশ
                <a href="@Url.Action("Create", "WorkOrder", new { id = Model.ProjectWorkId })" class="btn btn-primary btn-xs pull-right mt-2 mb-2 @(Model.IsAgreementCompleted ? "" : "disabled")"
                   @(Model.IsAgreementCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-print"></i>  কার্যাদেশ সংযুক্ত করুণ
                </a>
                <a href="@Url.Action("PrintWorkOrder", "Report", new { id = Model.ProjectWorkId, type="pdf" })" class="btn btn-success btn-xs pull-right mt-2 mb-2 @(Model.IsWorkOrderCompleted ? "" : "disabled")"
                   @(Model.IsWorkOrderCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-print"></i> প্রিন্ট PDF
                </a>
                <a href="@Url.Action("PrintWorkOrder", "Report", new { id = Model.ProjectWorkId, type="word" })" class="btn btn-success btn-xs pull-right mt-2 mb-2 @(Model.IsWorkOrderCompleted ? "" : "disabled")"
                   @(Model.IsWorkOrderCompleted ? "" : "onclick='return false;'")>
                    <i class="fa fa-print"></i> প্রিন্ট word
                </a>
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>লেটার নং</th>
                            <th>কার্যাদেশের তারিখ</th>
                            <th>শুরুর তারিখ</th>
                            <th>শেষের তারিখ</th>
                            <th>কার্যাদেশ ডকুমেন্ট</th>
                            <th style="width:120px;">প্রিন্ট করুন</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.WorkOrderList)
                        {
                            <tr>
                                <td>@item.LetterNo</td>
                                <td>@item.WorkOrderDate.ToNullableShortDateString()</td>
                                <td>@item.StartDate.ToNullableShortDateString()</td>
                                <td>@item.EndDate.ToNullableShortDateString()</td>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ScanDocument))
                                    {
                                        <a href="@Url.Action("PreviewDocument", "WorkOrder", new { fileName = item.ScanDocument })" target="_blank">
                                            Preview Document
                                        </a>
                                    }
                                    else
                                    {
                                        <span>No file uploaded</span>
                                    }
                                </td>
                                @*<td>@item.ScanDocument</td>*@
                                <td>
                                    <a href="@Url.Action("Edit", "WorkOrder", new { id = item.WorkOrderId })" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o"></i> সংশোধন
                                    </a>
                                    <a class="btn btn-danger btn-xs removeModal"
                                       data-id='@item.WorkOrderId' data-entity='WorkOrder'
                                       data-toggle="modal" data-target="#modalRemove"
                                       value='@item.WorkOrderId'>
                                        <i class="fa fa-trash"></i> অপসারণ
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                মন্ত্রণালয় থেকে গৃহীত অর্থঃ
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>লেটার নং</th>
                            <th>বিল নাম্বার</th>
                            <th>বিল তারিখ</th>
                            <th>পেমেন্ট সেকটর</th>
                            <th>বিল পরিশোধিত পরিমান</th>
                            @*<th>কর্তন (ট্যাক্স, ভ্যাট ও জামানত)</th>
                                <th>বিবিধ জমা পরিমান</th>*@
                            <th style="width:120px;">সংশোধন</th>
                            <th style="width:120px;">প্রিন্ট করুন</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ADPReceivePayments)
                        {
                            <tr>
                                <td>@item.LetterNo</td>
                                <td>@item.BillNumber</td>
                                <td>@item.BillDate.ToShortDateString()</td>
                                <td>@item.BillPaymentSector</td>
                                <td>@item.BillPaidAmount</td>
                                @*<td>@item.TotalDeductionAmount</td>
                                    <td>@item.DepositInBGBFund</td>*@

                                <td>
                                    <a href="@Url.Action("Create", "VatTaxCollateral", new { id = item.ADPReceivePaymentId })" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o"></i> ট্যাক্স/ভ্যাট সংযুক্ত করুণ
                                    </a>
                                    <a href="@Url.Action("CreateOrEdit", "BGBMiscellaneousFund", new { id = item.ADPReceivePaymentId })" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o"></i> বিবিধ ফান্ডে জমা
                                    </a>
                                    <a href="@Url.Action("Edit", "ADPReceivePayment", new { id = item.ADPReceivePaymentId })" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o"></i> সংশোধন
                                    </a>
                                    @*<a href="@Url.Action("Delete", "ADPReceivePayment", new { id = item.ADPReceivePaymentId })" class="btn btn-danger btn-xs">
                                            <i class="fa fa-trash-o"></i> অপসারণ
                                        </a>*@
                                </td>
                                <td>
                                    <a href="@Url.Action("PrintADPReceivePayment", "ADPReceivePayment", new { id = item.ADPReceivePaymentId, type="pdf" })" class="btn btn-info btn-xs">
                                        <i class="fa fa-print"></i> বিল প্রিন্ট pdf
                                    </a>
                                    <a href="@Url.Action("PrintADPReceivePayment", "ADPReceivePayment", new { id = item.ADPReceivePaymentId, type="word" })" class="btn btn-info btn-xs">
                                        <i class="fa fa-print"></i> বিল প্রিন্ট word
                                    </a>
                                    <a href="@Url.Action("PrintVatTaxReport", "VatTaxCollateral", new { id = item.ADPReceivePaymentId, type="pdf" })" class="btn btn-accent btn-xs">
                                        <i class="fa fa-print"></i> ট্যাক্স/ভ্যাট প্রিন্ট pdf
                                    </a>
                                    <a href="@Url.Action("PrintVatTaxReport", "VatTaxCollateral", new { id = item.ADPReceivePaymentId, type="word" })" class="btn btn-accent btn-xs">
                                        <i class="fa fa-print"></i> ট্যাক্স/ভ্যাট প্রিন্ট word
                                    </a>
                                    <a href="@Url.Action("PrintBGBMiscellaneousFundReport", "BGBMiscellaneousFund", new { id = item.ADPReceivePaymentId, type="pdf" })" class="btn btn-purple btn-xs">
                                        <i class="fa fa-print"></i> বিজিবি বিবিধ ফান্ড প্রিন্ট pdf
                                    </a>
                                    <a href="@Url.Action("PrintBGBMiscellaneousFundReport", "BGBMiscellaneousFund", new { id = item.ADPReceivePaymentId, type="word" })" class="btn btn-purple btn-xs">
                                        <i class="fa fa-print"></i> বিজিবি বিবিধ ফান্ড প্রিন্ট word
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading" style="padding:10px;">
                ঠিকাদার প্রতিষ্ঠানকে প্রদত্ত অর্থঃ
            </div>
            <div class="panel-body" style="padding:0px !important">
                <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>লেটার নং</th>
                            <th>প্রাক্কলিত ব্যয়</th>
                            <th>পুর্বে পরিশোধ</th>
                            <th>বর্তমান বিল পরিশোধ</th>
                            <th>মোট পরিশোধ</th>
                            <th style="width:120px;">প্রিন্ট করুন</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ContractorCompanyPayments)
                        {
                            <tr>
                                <td>@item.LetterNo</td>
                                <td>@item.EstimatedCost</td>
                                <td>@item.PreviouslyPaidAmount</td>
                                <td>@item.FinalPaymentAmount</td>
                                <td>@(item.PreviouslyPaidAmount+item.FinalPaymentAmount)</td>
                                <td>
                                    <a href="@Url.Action("Edit", "ContractorCompanyPayment", new { id = item.ContractorCompanyPaymentId })" class="btn btn-primary btn-xs">
                                        <i class="fa fa-pencil-square-o"></i> সংশোধন
                                    </a>
                                    <a class="btn btn-danger btn-xs removeModal"
                                       data-id='@item.ContractorCompanyPaymentId' data-entity='ContractorCompanyPayment'
                                       data-toggle="modal" data-target="#modalRemove"
                                       value='@item.ContractorCompanyPaymentId'>
                                        <i class="fa fa-trash"></i> অপসারণ
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("PrintContractorCompanyPaymentReport", "ContractorCompanyPayment", new { id = item.ContractorCompanyPaymentId, type="pdf" })" class="btn btn-info btn-xs">
                                        <i class="fa fa-print"></i> ঠিকাদার প্রতিষ্ঠানকে প্রদত্ত অর্থ প্রিন্ট pdf
                                    </a>
                                    <a href="@Url.Action("PrintContractorCompanyPaymentReport", "ContractorCompanyPayment", new { id = item.ContractorCompanyPaymentId, type="word" })" class="btn btn-info btn-xs">
                                        <i class="fa fa-print"></i> ঠিকাদার প্রতিষ্ঠানকে প্রদত্ত অর্থ প্রিন্ট word
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        @if (Model.IsFurnitureIncluded)
        {
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:10px;">
                    আসবাবপত্র বিল পরিশোধঃ
                </div>
                <div class="panel-body" style="padding:0px !important">
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>লেটার নং</th>
                                <th>আসবাব পত্রে বরাদ্দ</th>
                                <th>বিজিবি বিবিধ ফান্ডে আছে</th>
                                <th>বিজিবি বিবিধ ফান্ডে জমা থাকবে </th>
                                <th>বিল পরিশোধের পরিমাণ </th>
                                <th style="width:120px;">প্রিন্ট করুন</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FurnnitureBillPayments)
                            {
                                <tr>
                                    <td>@item.LetterNo</td>
                                    <td>@item.AllocationToFurniture</td>
                                    <td>@item.DepositsInFund</td>
                                    <td>@item.DepositedInFund</td>
                                    <td>@item.PaymentAmount</td>
                                    <td>
                                        <a href="@Url.Action("PrintFurnitureBillPayment", "Report", new { id = item.FurnitureBillPaymentId, type = "pdf" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> আসবাবপত্র বিল প্রিন্ট pdf
                                        </a>
                                        <a href="@Url.Action("PrintFurnitureBillPayment", "Report", new { id = item.FurnitureBillPaymentId, type = "word" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> আসবাবপত্র বিল প্রিন্ট word
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        }

        @if (Model.IsFinalBillSubmitted)
        {
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:10px;">
                    চূড়ান্ত বিল পরিশোধঃ
                </div>
                <div class="panel-body" style="padding:0px !important">
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>লেটার নং</th>
                                <th>চূড়ান্ত পরিমাপ অনুযায়ী মোট পরিমাণ</th>
                                <th>পূর্বে পরিশোধিত চলতি বিলের পরিমাণ</th>
                                <th>ইতি পূর্বে মোট পরিশোধ</th>
                                <th>চূড়ান্ত বিলে ঠিকাদারকে নীট পরিশোধ করা যেতে পারে</th>
                                <th style="width:120px;">প্রিন্ট করুন</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FinalBillPayments)
                            {
                                <tr>
                                    <td>@item.LetterNo</td>
                                    <td>@item.NetAmountAsPerFinalMeasurement</td>
                                    <td>@item.PreviouslyPaidAmount</td>
                                    <td>@item.AdvancePaymentAmount</td>
                                    <td>@item.PayableFinalBill </td>
                                    <td>
                                        <a href="@Url.Action("PrintFinalBillPayment", "Report", new { id = item.FinalBillPaymentId, type="pdf" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> চূড়ান্ত বিল প্রিন্ট pdf
                                        </a>
                                        <a href="@Url.Action("PrintFinalBillPayment", "Report", new { id = item.FinalBillPaymentId, type="word" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> চূড়ান্ত বিল প্রিন্ট word
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.CollateralReturns.Any())
        {
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:10px;">
                    ১০% জামানত ফেরত
                </div>
                <div class="panel-body" style="padding:0px !important">
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>লেটার নং</th>
                                <th>প্রকল্পের নাম</th>

                                <th style="width:120px;">প্রিন্ট করুন</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FinalBillPayments)
                            {
                                <tr>
                                    <td>@item.LetterNo</td>
                                    <td>@item.ProjectWorkName</td>
                                    <td>
                                        <a href="@Url.Action("PrintCollateralReturn", "Report", new { id = Model.ProjectWorkId, type="pdf" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> ১০% জামানত ফেরত প্রিন্ট pdf
                                        </a>
                                        <a href="@Url.Action("PrintCollateralReturn", "Report", new { id = Model.ProjectWorkId, type="word" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> ১০% জামানত ফেরত প্রিন্ট word
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }

        @if (Model.HandoverApproveds.Any())
        {
            <div class="panel panel-info">
                <div class="panel-heading" style="padding:10px;">
                    হস্তান্তর অনুমোদন
                </div>
                <div class="panel-body" style="padding:0px !important">
                    <table class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>লেটার নং</th>
                                <th>প্রকল্পের নাম</th>

                                <th style="width:120px;">প্রিন্ট করুন</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.FinalBillPayments)
                            {
                                <tr>
                                    <td>@item.LetterNo</td>
                                    <td>@item.ProjectWorkName</td>
                                    <td>
                                        <a href="@Url.Action("PrintHandoverApproved", "Report", new { id = Model.ProjectWorkId, type="pdf" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> হস্তান্তর অনুমোদিত হয়েছে প্রিন্ট pdf
                                        </a>
                                        <a href="@Url.Action("PrintHandoverApproved", "Report", new { id = Model.ProjectWorkId, type="word" })" class="btn btn-info btn-xs">
                                            <i class="fa fa-print"></i> হস্তান্তর অনুমোদিত হয়েছে প্রিন্ট word
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        }

    </div>
    @Html.Partial("_ModalRemove")
</section>


