@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectWorkVm

@{
    ViewBag.Title = "Create";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">নির্মান কাজ</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("List","ProjectDirector")">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    নির্মান কাজ
                </a>
            </li>
            <li class="active">
                <strong>নির্মান কাজ সংশোধন </strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">নির্মান কাজ সংশোধন </h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("List","ProjectWork")" class="btn">
                <i class="fa fa-list" aria-hidden="true"></i>
                List
            </a>
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit", "ProjectWork", FormMethod.Post, new { enctype = "multipart/form-data", id = "ProjectDirector-create-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.ADPProjectId)
                    @Html.HiddenFor(x => x.ProjectWorkId)

                    <div class="row">
                        <div class="form-display col-md-12">
                            @Html.LabelFor(m => m.ProjectTitle, new { @class = "label-display col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ProjectTitle, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            @Html.LabelFor(m => m.ProjectWorkTitle, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(m => m.ProjectWorkTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectWorkTitle)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.ConstructionCompanyId, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.ConstructionCompanyId, Model.ConstructionFirmDropdown, "Select Construction Firm", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.ConstructionCompanyId)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.EstimatedCost, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.EstimatedCost, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.EstimatedCost)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.NOADate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.NOADate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.NOADate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.AgreementDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.AgreementDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.AgreementDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.WorkOrderDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.WorkOrderDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.WorkOrderDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.WorkStartDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.WorkStartDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.WorkStartDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.WorkEndDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.WorkEndDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.WorkEndDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.OnFieldStartDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.OnFieldStartDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.OnFieldStartDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.OnFieldEndDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.OnFieldEndDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.OnFieldEndDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.HandOverDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.HandOverDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.HandOverDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.BankGuaranteeEndDate, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.BankGuaranteeEndDate, DateTime.Now.ToString("dd-MMM-yyyy"), new { @class = "form-control datepicker" })
                                @Html.ValidationMessageFor(model => model.BankGuaranteeEndDate)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.ConstructionProgress, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.ConstructionProgress, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConstructionProgress)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.WorkStatus, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.WorkStatus, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.WorkStatus)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Remarks, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Remarks, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Remarks)
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <fieldset>
                            <legend>ডকুমেন্ট সংযুক্ত করুন</legend>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.BankGuaranteeDocumentFile, new { @class = "col-md-3 form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.BankGuaranteeDocumentFile, new { @class = "form-control", type = "file", accept = ".pdf", id = "pdfInput" })
                                    @Html.ValidationMessageFor(model => model.BankGuaranteeDocumentFile)
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.NOADocumentFile, new { @class = "col-md-3 form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.NOADocumentFile, new { @class = "form-control", type = "file", accept = ".pdf", id = "pdfInput" })
                                    @Html.ValidationMessageFor(model => model.NOADocumentFile)
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.AgreementDocumentFile, new { @class = "col-md-3 form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.AgreementDocumentFile, new { @class = "form-control", type = "file", accept = ".pdf", id = "pdfInput" })
                                    @Html.ValidationMessageFor(model => model.AgreementDocumentFile)
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.WorkOrderDocumentFile, new { @class = "col-md-3 form-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.WorkOrderDocumentFile, new { @class = "form-control", type = "file", accept = ".pdf", id = "pdfInput" })
                                    @Html.ValidationMessageFor(model => model.WorkOrderDocumentFile)
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="reset" class="btn" value="Clear" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>

