@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ProjectWorkSearchVm

@{
    ViewBag.Title = "List";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">নির্মান কাজের তালিকা</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li class="active">
                <strong>নির্মান কাজ</strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">নির্মান কাজের তালিকা</h2>
        @*<div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","FinancialYearAllocation")" class="btn btn-success"><i class="fa fa-plus"></i> নতুন প্রকল্প যুক্ত করুন</a>

                <a class="box_toggle fa fa-chevron-down"></a>
            </div>*@
    </header>
    <div class="content-body">
        <div class="row">
            @*<div class="form-group col-md-6">
                    @Html.LabelFor(m => m.StartingDate, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.StartingDate, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.StartingDate)
                    </div>
                </div>
                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.EndingDate, new { @class = "col-md-4 form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.EndingDate, new { @class = "form-control datepicker" })
                        @Html.ValidationMessageFor(model => model.EndingDate)
                    </div>
                </div>*@
        </div>


        <div class="row">
            <div class="col-xs-12">
                <table id="projectWork" class="table table-striped table-bordered" width="100%" cellspacing="0">
                </table>
            </div>
        </div>

        <partial name="_ModalPartial" />
    </div>
</section>


@section scripts {

    <script>
        $(document).ready(function () {
            var table = $('#projectWork').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": baseUrl + "/ProjectWork/LoadData",  // Make sure this is correct
                    "type": "POST",
                    "contentType": "application/json",  // Sending JSON data
                    "data": function (d) {
                        // Manually create a JSON object for the POST request
                        return JSON.stringify({
                            SearchValue: d.search.value,  // Global search term
                            //StartingDate: $('#StartingDate').val() ? $('#StartingDate').val() : null,
                            //EndingDate: $('#EndingDate').val() ? $('#EndingDate').val() : null,
                            Draw: d.draw,
                            PageIndex: d.start / d.length,  // Pagination: starting index
                            PageSize: d.length,  // Pagination: number of records per page
                            SortColumn: d.order[0] ? d.columns[d.order[0].column].data : 'FiscalYearId',
                            SortDirection: d.order[0] ? d.order[0].dir : 'asc'
                        });
                    },
                    "dataSrc": function (json) {
                        console.log(json.data)
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "FiscalYearId", "title": "আইডি", "visible": false },
                    {
                        "data": "TotalAllocation",
                        "title": "মোট বরাদ্দ",
                        "render": function (data, type, row) {
                            // Assuming 'id' is the unique identifier for the project
                            return `<a href="${baseUrl}/ADPProject/Details/${row.ADPProjectId}">${data}</a>`;
                        }
                    },
                    {
                        "data": "ProjectTitle",
                        "title": "প্রকল্পের নাম",
                    },
                    {
                        "data": "FiscalYearDescription",
                        "title": "অর্থ বছর",
                    },
                    {
                        "data": "ADPAllocation",
                        "title": "এ ডি পি বরাদ্দ",
                    },
                    {
                        "data": "RADPAllocation",
                        "title": "আর ডি পি বরাদ্দ",
                    },


                ]
            });

            // Apply filters automatically when the user changes any of the filter fields
            $('#StartingDate, #EndingDate').on('change input keyup', function () {
                table.ajax.reload();
            });
        });

    </script>

}