@model IDIMWorkBranchProject.Models.WBP.SubProjectSearchVm
@{
    ViewBag.Title = "Sub Project";
}
<div class='col-md-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Sub Project Problem</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li class="active">
                    <strong>Sub Project Problem</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">List</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm("ProjectProblem", "Report", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ProjectName)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.SubProjectTitle, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.SubProjectTitle, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubProjectTitle)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UnitId, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.UnitId, Model.UnitDropdown, "Select Unit", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.UnitId)
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConstructionFirmId, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.ConstructionFirmId, Model.ConstructionFirmDropdown, "Select Firm", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.ConstructionFirmId)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success pull-right" value="Search" />
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <table id="DataGrid" class="table table-striped table-bordered" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width: 35px;">Id</th>
                                <th>Sub Project</th>
                                <th>Unit</th>
                                <th>Supplier</th>
                                <th style="width: 405px">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model.SubProjects)
                            {
                                <tr>
                                    <td>@v.SubProjectId</td>
                                    <td>@v.SubProjectTitle</td>
                                    <td>@v.UnitName</td>
                                    <td>@v.ConstructionFirmName</td>
                               
                                    <td>
                                        <a href="@Url.Action("Index", "ReportBillPayment", new {id = v.SubProjectId})">
                                         <span class="label label-info"><i class="fa fa-info"></i> Bill</span>
                                        </a>
                                        <a href="@Url.Action("Index", "ProjectExtended", new {id = v.SubProjectId})">
                                            <span class="label label-info"><i class="fa fa-info"></i> Extend</span>
                                        </a>
                                        <a href="@Url.Action("Index", "ReportProblem", new {id = v.SubProjectId})">
                                            <span class="label label-info"><i class="fa fa-info"></i> Problem</span>
                                        </a>
                                     
                                    
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $('#DataGrid').DataTable({
                "aaSorting": [],
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { "orderable": false }
                ]
            });
        });
    </script>

    <script>
        $("#ArmyId").select2({
            placeholder: "Search Regiment",
            minimumInputLength:1,
            ajax: {
                url: '@Url.Action("Get", "GeneralInformation")',
                dataType: 'json',
                quietMillis: 250,
                data: function (param) {
                    return { term: param };
                },
                results: function (data) {
                    return { results: data.Results };
                }
            }
        });
    </script>
}
