@model IDIMWorkBranchProject.Models.WBP.ConsultancyFeesVm
@{
    ViewBag.Title = "Delete";
}


<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Consultancy Fees </h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","ConsultancyFees")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Consultancy Fees
                    </a>
                </li>
                <li class="active">
                    <strong>Delete</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Delete</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","ConsultancyFees")" class="btn btn-success">Create New</a>
                <a href="@Url.Action("Edit","ConsultancyFees", new { id = Model.CFId })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("List","ConsultancyFees")" class="btn">List</a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SubProjectId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.SubProjectTitle)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConsultantId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.ConsultantName)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConsultancyFee, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.ConsultancyFee)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Vat_Tax, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.Vat_Tax)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NitAmmountConsultancyFee, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.NitAmmountConsultancyFee)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.OtherConsultancyFee, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.OtherConsultancyFee)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RestAmount, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.RestAmount)
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Remark, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <span class="label label-primary">
                                            @Html.DisplayFor(model => model.Remark)
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>

                    @using (Html.BeginForm("Delete", "ConsultancyFees", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("CFId")

                        <a href="@Url.Action("List", "ConsultancyFees")" class="btn">Cancel</a>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Delete" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>

