@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model TenderEvaluationCommitteeVm

@{
    ViewBag.Title = "Edit";
}


<div class="page-title">
    <div class="pull-left">
        <h3 class="title">দরপত্র মূল্যায়ন কমিটি</h3>
    </div>
    <div class="pull-right hidden-xs">
        <ol class="breadcrumb">
            <li>
                <a href="#"><i class="fa fa-home"></i>Dashboard</a>
            </li>
            <li>
                <a href="@Url.Action("List","TenderEvaluationCommittee")">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    নির্মান কাজ
                </a>
            </li>
            <li class="active">
                <strong>দরপত্র মূল্যায়ন কমিটি সংশোধন </strong>
            </li>
        </ol>
    </div>
</div>

<section class="box">
    <header class="panel_header">
        <h2 class="title pull-left">দরপত্র মূল্যায়ন কমিটি সংশোধন</h2>
        <div class="actions panel_actions pull-right">
            <a href="@Url.Action("List","TenderEvaluationCommittee")" class="btn">
                <i class="fa fa-list" aria-hidden="true"></i>
                List
            </a>
            <a class="box_toggle fa fa-chevron-down"></a>
        </div>
    </header>
    <div class="content-body">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Edit", "TenderEvaluationCommittee", FormMethod.Post, new { enctype = "multipart/form-data", id = "TenderEvaluationCommittee-Edit-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(x => x.TenderEvaluationCommitteeId)
                    @Html.HiddenFor(x => x.ADPProjectId)

                    <div class="row">
                        <div class="form-display col-md-12">
                            @Html.LabelFor(m => m.ADPProjectId, new { @class = "form-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.ADPProjectTitle, new { @class = "form-control", @readonly = "readonly" })
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.AddDG, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.AddDG, Model.AddDGDropdown, "Select One", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.AddDG)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.DDG, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.DDG, Model.DDGDropdown, "Select One", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.DDG)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.ProjectDirector, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.DropDownListFor(m => m.ProjectDirector, Model.ProjectdirectorDropdown, "Select One", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.ProjectDirector)
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Director, new { @class = "col-md-3 form-label" })
                            <div class="col-md-9">
                                @Html.DropDownListFor(m => m.Director, Model.DirectorDropdown, "Select One", new { @class = "select2" })
                                @Html.ValidationMessageFor(model => model.Director)
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <input type="submit" class="btn btn-success" value="Save" />
                        <input type="reset" class="btn" value="Clear" />
                    </div>
                }
            </div>
        </div>
    </div>
</section>
