@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model RecruitmentCommitteeVm

@{
    ViewData["Title"] = "Delete Recruitment Committee";
}

<h2 class="mb-0">Delete Recruitment Committee</h2>

<p>Are you sure you want to delete this record?</p>

<div class="card shadow-lg border-0 rounded">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0 text-light">Recruitment Committee</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>বাংলা নাম:</strong> @Model.NameB</li>
            <li class="list-group-item"><strong>পদবি বাংলায়:</strong> @Model.DesignationB</li>
            <li class="list-group-item"><strong>শিরোনাম বাংলায়:</strong> @Model.TitleB</li>
            <li class="list-group-item"><strong>ঠিকানা বাংলায়:</strong> @Model.AddressB</li>
        </ul>
    </div>
    @using (Html.BeginForm("DeleteConfirmed", "RecruitmentCommittee", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.RecruitmentCommitteeId)

        <div class="card-footer text-end">
            <a href="@Url.Action("List","RecruitmentCommittee") class="btn btn-secondary">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }

</div>
