@model IDIMWorkBranchProject.Models.WBP.BillPaymentVm
@{
    ViewBag.Title = "Bill Payment";
}

<div id="message"></div>
<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Bill Payment</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","BillPayment")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Bill Payment
                    </a>
                </li>
                <li class="active">
                    <strong>Edit</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Edit</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","BillPayment")" class="btn btn-success">Create New</a>
                <a href="@Url.Action("List","BillPayment")" class="btn">List</a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Edit", "BillPayment", FormMethod.Post, new { @class = "form-horizontal", id = "Project-edit-form", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.BillPaymentId)
                        @Html.HiddenFor(model=>model.SubProjectId)
                        @Html.HiddenFor(model => model.SubProjectTitle)

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.SubProjectId, new { @class = "col-md-4 form-label" })
                                <div class="col-md-8">
                                    <span class="label label-primary">
                                        @Html.DisplayFor(model => model.SubProjectTitle)
                                    </span>
                                    @Html.ValidationMessageFor(model => model.SubProjectId)
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FiscalYearId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.FiscalYearId, Model.FiscalYearDropdown, "Select Unit", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.FiscalYearId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BillTypeId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.BillTypeId, Model.BillTypeDropdown, "Select Bill Type", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.BillTypeId)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.SourceType, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(m => m.SourceType, "Select Source Type", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.SourceType)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentType, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(m => m.PaymentType, "Select Payment Type", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.PaymentType)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentAmount, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.PaymentAmount, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PaymentAmount)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentDate, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.EditorFor(m => m.PaymentDate, new { htmlAttributes = new { @class = "form-control datepicker" } })
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PaymentDate)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BankName, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BankName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BankName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.BranchName, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.BranchName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.BranchName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AccountName, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.AccountName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AccountName)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Update" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                        }
                    </div>
            </div>
        </div>
    </section>
</div>
