@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model WorkOrderVm

@{
    ViewData["Title"] = "Delete Performance Security";
}

<h2 class="mb-0">Delete Work Order</h2>

<p>Are you sure you want to delete this record?</p>

<div class="card shadow-lg border-0 rounded">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0 text-light">কার্যাদেশ বিবরণ</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>নির্মান কাজের শিরোনাম:</strong> @Model.ProjectWorkTitleB</li>
            <li class="list-group-item"><strong>লেটার নং:</strong> @Model.LetterNo</li>
            <li class="list-group-item"><strong>কার্যাদেশ তারিখ:</strong> @Model.WorkOrderDate</li>
            <li class="list-group-item"><strong>শুরুর তারিখ:</strong> @Model.StartDate</li>
            <li class="list-group-item"><strong>শেষ তারিখ:</strong> @Model.EndDate</li>
        </ul>
    </div>
    @using (Html.BeginForm("DeleteConfirmed", "WorkOrder", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.WorkOrderId)

        <div class="card-footer text-end">
            <a href="@Url.Action("details/"+Model.ProjectWorkId, "ProjectWork") class="btn btn-secondary">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }

</div>
