@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model ADPReceivePaymentVm

@{
    ViewData["Title"] = "Delete ADPRecivedPayment";
}

<h2 class="mb-0">Delete Financial Year Allocation</h2>

<p>Are you sure you want to delete this record?</p>

<div class="card shadow-lg border-0 rounded">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0 text-light">ADPRecivedPayment Details</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>লেটার নংঃ </strong> @Model.LetterNo</li>
            <li class="list-group-item"><strong>বিল নাম্বারঃ </strong> @Model.BillNumber</li>
            <li class="list-group-item"><strong>বিল তারিখঃ </strong> @Model.BillDate.ToShortDateString()</li>
            <li class="list-group-item"><strong>পেমেন্ট সেকটরঃ </strong> @Model.BillPaymentSector</li>
            <li class="list-group-item"><strong>বিল পরিশোধিত পরিমানঃ </strong> @Model.BillPaidAmount</li>
        </ul>
    </div>
    @using (Html.BeginForm("DeleteConfirmed", "ADPReceivePayment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.ADPReceivePaymentId)

        <div class="card-footer text-end">
            <a href="@Url.Action("details/"+Model.ProjectWorkId, "ProjectWork") class="btn btn-secondary">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }

</div>