@model IDIMWorkBranchProject.Models.WBP.ProjectVm
@{
    ViewBag.Title = "Project ";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Project </h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","Project")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Project
                    </a>
                </li>
                <li class="active">
                    <strong>Delete</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Delete</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","Project")" class="btn btn-success">Create New</a>
                <a href="@Url.Action("Edit","Project", new { id = Model.ProjectId })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("List","Project")" class="btn">List</a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProjectTypeId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.ProjectTypeId)
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FiscalYearId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.FiscalYearId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ProjectName, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.ProjectName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MinistryDepartment, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.MinistryDepartment)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.StartingDate, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.StartingDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EndingDate, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.EndingDate)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PD, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(m => m.PD)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.DPD, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(m => m.DPD)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EstimatedExpenses, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.EstimatedExpenses)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NoOfWork, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.NoOfWork)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EconomicProgress, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.EconomicProgress)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConstructionProgress, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.DisplayFor(m => m.ConstructionProgress)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Remarks, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.DisplayFor(m => m.Remarks)
                                    </div>
                                </div>
                            </div>
                        </div>


                    </form>

                    @using (Html.BeginForm("Delete", "Project", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ProjectId")

                        <a href="@Url.Action("List", "Project")" class="btn">Cancel</a>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Delete" />
                        </div>
                    }

                </div>
            </div>
        </div>
    </section>
</div>