<li class="profile">
    <a href="#" data-toggle="dropdown" class="toggle">
        Settings
        <i class="fa fa-angle-down"></i>
    </a>
    <ul class="dropdown-menu profile animated fadeIn">
        <li>
            <a href="@Url.Action("List","Application")">
                <i class="fa fa-wrench"></i>
            Application
            </a>
        </li>
        <li>
            <a href="@Url.Action("List","Device")">
                <i class="fa fa-wrench"></i>
                Device
            </a>
        </li>
        <li>
            <a href="@Url.Action("List","Menu")">
                <i class="fa fa-wrench"></i>
                Menu
            </a>
        </li>
        <li>
            <a href="@Url.Action("List","User")">
                <i class="fa fa-wrench"></i>
                User
            </a>
        </li>
        <li>
            <a href="@Url.Action("Generate","Menu")">
                <i class="fa fa-wrench"></i>
                Menu Generate
            </a>
        </li>
    </ul>
</li>