@using IDIMWorkBranchProject.Extentions
@using IDIMWorkBranchProject.Models.Wbpm
@model RevenueWorkOrderVm

@{
    ViewData["Title"] = "Delete Revenue Work Order";
}

<h2 class="mb-0">Delete Revenue Work Order</h2>

<p>Are you sure you want to delete this record?</p>

<div class="card shadow-lg border-0 rounded">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0 text-light">Revenue Work Order Details</h5>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">            
            <li class="list-group-item"><strong>লেটার নংঃ </strong> @Model.RevenueWorkOrderLetterNo</li>
            <li class="list-group-item"><strong>রাজস্ব কার্যাদেশের তারিখ </strong> @Model.RevenueWorkOrderDate</li>
            <li class="list-group-item"><strong>রাজস্ব কার্যাদেশ শুরুর তারিখঃ </strong> @Model.RevenueWorkOrderStartDate</li>
            <li class="list-group-item"><strong>রাজস্ব কার্যাদেশ শেষের তারিখঃ </strong> @Model.RevenueWorkOrderEndDate</li>
            <li class="list-group-item"><strong>রাজস্ব কার্যাদেশ হস্তান্তরের তারিখঃ </strong> @Model.RevenueWorkOrderHandOverDate</li>
        </ul>
    </div>
    @using (Html.BeginForm("DeleteConfirmed", "RevenueWorkOrder", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.RevenueWorkOrderId)

        <div class="card-footer text-end">
            <a href="@Url.Action("List","RevenueWorkOrder") class="btn btn-secondary">Cancel</a>
            <input type="submit" class="btn btn-danger" value="Delete" />
        </div>
    }

</div>